body{
    font-family: 'Playpen Sans', cursive !important;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.card-description{
    color: white!important;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background: white;
}

.fa-compass{
    color:#7142fe;
    font-size: 2rem;
}

.navbar-toggler-icon {
    background-color: #7142fe!important;
}


.f-info-links a{
    text-decoration: none  ;
    color: #222222;
}

.f-info-links ,
.f-info-socials,
.f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.f-info-socials i{
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem; 
    align-items: center;
}

.f-info{
    text-align: center;
    height: 8rem;
    background: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly; 
}


.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;

}

.card-text p{
    font-weight: 400 !important;
}

.card-img-top{
    height: 20rem !important;
}


.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background: white;
}

.add-btn{
    background: red !important;
    border: none !important;
}

.editbtn{
    background: green !important;
    border: none !important;
}

.show-img{
    height: 30vh !important;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}



.list-group-flush{
    background:#333;
    color: #fff;
}

.hide {
    display: none;
}
