<% layout('/layout/boilerplate.ejs') %>
<style>
  
    .bottom-link {
      position: fixed;
      bottom: 10px;
      left: 10px;
      color: #333;
      cursor: pointer;
      font-size: 20px;
    }
  
    .bottom-link:hover {
      color: #7142fe;
    }
  </style>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h4>Please login</h4>
        </div>
    </div>
</div>


